body{
    background-color: rgb(145, 1, 248);
}
h1{
    color: rgb(6, 6, 6);
}
p,ul,td,a{
    color: rgb(240, 252, 5);
    font-size:20px;
}
img{
    height:400px;
    width: 400px;
    border-radius: 100px;
}
hr{
border-style: none;
border-top-style:dotted ;
border-width: 5px;
width: 5%;
}
